div.form-plakatif {
  margin-top: 30px !important;
  margin-bottom: 60px;
  font-size: 16px;
}

.h2custom{
  color: #083054;
}

div.form-plakatif .h3, div.form-plakatif h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight:400;
  letter-spacing: 0;
  color:#083054;
}
.h4, h4 {
  font-size: 1em;
  letter-spacing: 0;
  color: #ccc;
}



.btn{
  font-size: 1em;
  padding: 0.6em 1em;
}

.input-group-text {
  font-size: 1em;
}


input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"], textarea {
  border-radius:4px;
  border:1px solid #ccc;
  font-size: 1.3em;
  letter-spacing: -0.015em;
  padding: 1em 0.6em;
  font-weight: normal;
}

button:focus, button:hover, .button:focus, .button:hover, .faux-button:focus, .faux-button:hover, .wp-block-button .wp-block-button__link:focus, .wp-block-button .wp-block-button__link:hover, .wp-block-file .wp-block-file__button:focus, .wp-block-file .wp-block-file__button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
  text-decoration: none;
}



.btn-primary {
  color: #fff;
  background-color: #083054;
  border-color: #083054;
  font-weight: normal;
}

button, html input[type="button"], input[type="reset"], a.button, a.button:visited, a.wp-block-button__link:not(.has-background) {
  color: #ffffff;
  background-color: #083054;
  font-weight: normal;
  font-size: 1em;
  padding: 0.6em 1em;
  text-transform: none;
}

.btn-primary:hover {
  color: #083054;
  background-color: #fff;
  border-color: #083054;
  text-decoration: none;
  border: 1px solid #083054;
}


input[type="submit"] {
  color: #ffffff;
  background-color: #fd001e;
  border-color: #fd001e;
  font-weight: normal;
  font-size: 1em;
  padding: 0.6em 1em;
  text-transform: none;
}

input[type="submit"]:hover {
  color: #fd001e;
  background-color: #fff;
  border-color: #fd001e;
  text-decoration: none;
  border: 1px solid #fd001e;
}




.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #083054;
  background-color: #fff;
  border-color: #083054;
}





.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #083054;
}

.custom-control-label::before, 
.custom-control-label::after {

  width: 1.5em;
  height: 1.5em;
}


.custom-control-label {

  padding-left: 1em;
}



.custom-select {
  height: calc(2.25em + 2px);
  padding: .375em 1.75em .375em .75em;
  line-height: 1.5;
  border-radius: .25em;
  font-size: 1em;
}


textarea.form-control {
  height: auto;
  font-size: 1.3em;
}





.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
 
.multisteps-form__progress-btn {
  position: relative;
  padding-top: 20px;
  color: #ccc;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
}
.multisteps-form__progress-btn:hover {
  color: #ccc;
  cursor: default;
}
.multisteps-form__progress-btn:focus {
  color: #ccc;
  cursor: default;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #ccc;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor; /*currentColor*/
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #eee;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}














.help-block {
  display: block;
  margin: 5px 0 10px 14px;
  color: #083054;
}




#thanks_panel {
  height: auto;
  flex-direction: column;
  justify-content: center;
}




.custom-control-label::after {

  background-size: 65% 65%;
}



::placeholder { /* Most modern browsers support this now. */
 color: #ccc !important;
}



.rounded {
  border-radius: 0.6em!important;
}




.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 5px solid #083054;
  border-radius: .25rem;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 5px solid #fff;
  border-radius: .25rem;
  width: auto;
  height: 180px;
  
}


.formheadline {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 60px;
  color:#ccc;

}


.radio-textlabel {
  text-align: center;
  color: #7a7a7a;
}

input[type=radio]:checked + label .radio-textlabel {
  font-weight: bold;
  color: #083054;
}

input[type=radio] + label .radio-textlabel.noimg {
  padding:20px;
  border: 2px solid #7a7a7a;
  border-radius: .25rem;
}

input[type=radio]:checked + label .radio-textlabel.noimg {
  border-color: #fff;
  color:#fff;
  background-color: #083054;

}

#thanks_panel h3{
  color:#083054;
  text-align:left;
}

#thanks_panel ul{
  border: 2px solid #083054;
  border-radius : 2px;
  padding:2em;

}


.greenbox {
  background-color:#083054;
  color:#fff;
  padding:10px;
}

a, a:visited, a:hover { 
  color: #083054; 
}

a.download {
  background:#fff;
  font-size: 1em;
  font-weight:bold;
  padding: 0.6em 1em;
  border-radius: .25rem;

}

ul li {
  margin-bottom: 20px;
}




.multisteps-form__panel +  .multisteps-form__panel{

    display:none;
    opacity:0;

}













