<div class="form-plakatif">
    <div class="content__inner">
        <div class="container overflow-hidden">

            <div class="multisteps-form">

                <div class="row">
                    <div class="col-12 col-lg-8 m-auto">

                        <form class="form-horizontal" action="%admin_url%" method="post" id="myform" novalidate>
                            %nonce_field%
                            <input type="hidden" name="action" value="custom_action">

                            <!-- INTRO PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">Your Benefits from Our Initial Consultation:</h3>
                                <div class="multisteps-form__content">

                                    <div class="form-row mt-4 intro">
                                        <div class="col-12">
                                            <ul class="checkmark">
                                                <li>Clarity about your requirements</li>
                                                <li>Practical and solution-oriented advice</li>
                                                <li>Non-binding and fair offer</li>
                                            </ul>
                                            <p>Your request takes only 2 minutes. Let's get started!</p>
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">What Type of Project is This?</h3>
                                <div class="multisteps-form__content">

                                    <div class="form-row mt-4 projecttype">
                                        <div class="col-12">
                                            <input type="radio" name="projecttype" id="projecttype-1" value="Development of a WordPress Plugin" class="input-hidden" />
                                            <label for="projecttype-1">
                                                <div class="radio-textlabel noimg">Development of a WordPress Plugin</div>
                                            </label>
                                        
                                            <input type="radio" name="projecttype" id="projecttype-2" value="Development of a Typo3 Extension" class="input-hidden" />
                                            <label for="projecttype-2">
                                                <div class="radio-textlabel noimg">Development of a Typo3 Extension</div>
                                            </label>

                                            <input type="radio" name="projecttype" id="projecttype-3" value="Optimization of an Existing WordPress/Typo3 Website" class="input-hidden" />
                                            <label for="projecttype-3">
                                                <div class="radio-textlabel noimg">Optimization of an Existing WordPress/Typo3 Website</div>
                                            </label>

                                            <input type="radio" name="projecttype" id="projecttype-4" value="Development of a New Website" class="input-hidden" />
                                            <label for="projecttype-4">
                                                <div class="radio-textlabel noimg">Development of a New Website</div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">What Do You Want to Achieve? Please Describe Briefly in 2-3 Sentences.</h3>
                                <div class="multisteps-form__content">

                                    <div class="form-row mt-4">
                                        <div class="col-12">
                                            <textarea rows="3" name="goal" id="goal" class="multisteps-form__input form-control" placeholder="What is your goal?" required></textarea>
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">What is Your Planned Total Budget for This Project?</h3>
                                <div class="multisteps-form__content">

                                    <div class="form-row mt-4 budget">
                                        <div class="col-12">
                                            <input type="radio" name="budget" id="budget-1" value="Up to 3,000 €" class="input-hidden" />
                                            <label for="budget-1">
                                                <div class="radio-textlabel noimg">Up to 3,000 €</div>
                                            </label>
                                        
                                            <input type="radio" name="budget" id="budget-2" value="3,000 - 9,000 €" class="input-hidden" />
                                            <label for="budget-2">
                                                <div class="radio-textlabel noimg">3,000 - 9,000 €</div>
                                            </label>

                                            <input type="radio" name="budget" id="budget-3" value="Over 9,000 €" class="input-hidden" />
                                            <label for="budget-3">
                                                <div class="radio-textlabel noimg">Over 9,000 €</div>
                                            </label>

                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">What is Your Name?</h3>
                                <div class="multisteps-form__content">
                                    <div class="form-row mt-4">
                                        <div class="col-12">
                                            <input class="multisteps-form__input form-control" type="text" name="username" id="username" placeholder="Name" required>
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">Almost Done! Where Should We Send Your Appointment Confirmation?</h3>
                                <div class="multisteps-form__content">
                                    <div class="form-row mt-4">
                                        <div class="col-12">
                                            <input type="email" id="email" name="email" class="multisteps-form__input form-control" placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">
                                <h3 class="multisteps-form__title">Thank you, <span class="the_username"></span> ! <br />And here is the final step: Tell us your phone number?</h3>
                                <h4>Please enter the phone number where you can be reached during the day to schedule our conversation.</h4>
                                <div class="multisteps-form__content">

                                    <div class="form-row mt-4">
                                        <div class="col-12">
                                            <input type="text" id="phone" name="phone" class="multisteps-form__input form-control" placeholder="Phone" required>
                                        </div>
                                    </div>

                                    <p class="small" style="color:#999;">By submitting, you accept our <a href="/privacy" target="_blank">privacy policy</a> and allow us to contact you.</p>

                                    <div class="button-row d-flex mt-4"></div>
                                </div>
                            </div>

                            <!-- PANEL -->

                            <div class="multisteps-form__panel shadow p-4 rounded bg-lightgrey">

                                <h3>Thank You!</h3> 
                                
                                <p>We have received your responses. Here are your next steps:</p>
                                
                                <div class="greenbox">
                                    <p>Please make sure that you are <strong>available by phone within the next 48 hours between 9:00 AM - 5:00 PM</strong> so that we can find a suitable appointment.</p>
                                </div>
                                
                                <p>&nbsp;</p>
                                <p><strong>IMPORTANT</strong></p>
                                <ul>
                                    <li>We will attempt to reach you by phone up to three times to schedule our appointment. After that, we will not try again!</li>
                                    <li>We will call you from the following number: <strong>+1 098 7654321</strong></li>
                                </ul>
                                
                                <p>We look forward to our conversation, where we will take a close look at your situation and develop a personalized strategy for you.</p>
                                
                                <p>Best regards and talk soon!</p>

                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-top:90px;">
                    <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                        <div class="multisteps-form__progress">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
